@media only screen and (min-width: 1536px) and (max-width:1550px){
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background: rgb(155,231,255);
        background: linear-gradient(0deg, rgba(155,231,255,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 80%, rgba(155,231,255,1) 100%);
        margin: 0;
        font-size: 20px;
        font-family:Kanit;
        overflow: hidden;

    }
    
    #container {
        background-color: rgba(255, 255, 255, 0); /* Adjust the alpha (fourth) value for translucency */
        padding: 40px;
        border-radius: 40px;
        text-align: center;
        backdrop-filter: blur(10px); /* Adjust the blur value as needed */
        /* border: 2px solid #ddd; Border color and thickness */
        position: fixed;
        top: 45%;
    }
    
    #form_container {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    #signin{
        font-family:Kanit;
    }
    #welcomee{
        position: fixed;
        bottom: 98%;
        left: 20.5%;
        font-size: 40px;
    }
    #welcome{
        position: fixed;
        bottom: 85% ;
        left: 24%;
        font-size: 30px;
    }
    
    #form_container label {
        font-size: 50px;
    }
    
    #form_container input {
        padding: 10px;
        font-size: 20px;
        width: 200%;
        transform: translateX(-25%);
        font-family:Kanit;
        border: 1px solid #ccc; /* Add border style */
    border-radius: 8px;
        /* margin-left: -55%; Adjust the negative margin to move the input elements to the left */
    }
    
    #button_container {
        display: flex;
        justify-content: center;
        margin-top: 20px; /* Add margin for separation from form elements */
        transform: scale(1.5); /* Adjust the scale factor as needed */
        
    }
    #img1{
        width: 50%;
        height: 60%;
        position: fixed;
        bottom: 55%;
        left: 27%;
    }
    #noac{
        margin-top: 10%;
        font-size: 20px;
    }
    }