@media only screen and (min-width: 1536px) and (max-width:1550px) {
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover; /* Ensures the background covers the entire viewport */
        height: 100vh;
        background: rgb(155,231,255);
        background: linear-gradient(0deg, rgba(155,231,255,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 80%, rgba(155,231,255,1) 100%);
    }
    
    #user-info-container {
        margin-top: 20px;
        font-family: Kanit;
    }
    
    #user-info {
        font-size: 25px;
        font-weight: bold;
        color: #000000;
        /* Add border styling */
        padding: 10px;
        /* Add padding for better appearance */
        width: 100%;
        font-family: Kanit;
        border-radius: 5px;
        left: 1%;
        top: 0;
        position: fixed;
        
    }
    
    #logout-btn {
        margin-top: 10px;
        background-color: #dc3545;
        color: #fff;
        padding: 10px;
        border: none;
        cursor: pointer;
        font-family: Kanit;
        border-radius: 5px;
        position: fixed;
        top: 9%;
        left: 2%;
    }
    #logout-btn:hover {
        background-color: #71000b;
    }
    #logo{
        position: fixed;
        width: 50%;
        height: auto;
        margin-top: 5px;
        top: -25%;
        transform: translateX(50%);
    }
    #info{
        font-family: Kanit;
        margin-top: 5%;
        transform: translateX(75%);
        position: fixed;
        top: 15%;
        font-size: 250%;
    }
    .box {
        position: absolute;
        top: 45%;
        left: 70%;
        transform: translate(-50%, -50%);
        width: 35%; /* Adjust the width of the boxes */
        height: 18%; /* Adjust the height of the boxes */
        background-color: #fff;
        border: 1px solid #000;
        border-radius: 5px;
        margin: 0.1%; /* Decreased the margin between the boxes */
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 150%; /* Adjust the font size */
        font-family: Kanit;
    }
    #box2{
        left: 32%;
    }
    
    #measure{
        position: fixed;
        height: auto;
        width: 15%;
        top: 50%;
        left: 30%;
    }
    #info2{
        position: fixed;
        font-family: Kanit;
        font-size: 120%;
        top: 55%;
        left: 55%;
        z-index: 1;
    }
    a {
        display: block;
        text-align: center;
        padding: 5px 10px;
        margin: auto; /* Center horizontally */
        text-decoration: none;
        color: #fff;
        background-color: #3498db;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Center vertically and horizontally */
        font-family: Kanit;
        font-size: 150%;
    }

    a:hover {
           background-color: #2980b9;
    }
    #data{
        left: 20%;
        top: 90%;
        
    }
    #aboutus{
        left: 80%;
        top: 90%;
    }
    #pulse{
        left: 51%;
        top: 90%;
        width: 8%;
    }
}